<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Interests</h3>
      <hr/>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <li *ngFor="let category of categories" style="list-style: none">
             <input type="radio" value="{{category.id}}" formControlName="category"  />
             &nbsp;&nbsp;{{category.name}}
          </li>
          <br/>
          <br/>
          <button class="btn btn-primary">Next</button>
          <br/>
          <br/>
        </form>
      <br/>
    </div>
  </div>
</div>