<div class="class-container search-box">
    <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <fieldset>
              <br/>
              <div class="form-group form-title">
                <h1> Find Meetup </h1>
              </div>
              <form [formGroup]="categoryForm">
                <div class="form-group">
                  <div class="input-group">
                     <select formControlName="category" #item (change)="onChange(item.value)" class="form-control">
                       <option  value="0">Select Category</option>
                       <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                     </select>
                  </div>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div *ngFor="let group of groups" class="col-sm-4">
      <div class="panel panel-primary">
        <div class="container">
          <a [href]="group.link">
            <img src="{{group.groupPhoto.highresLink}}" class="img-responsive img-block" alt="Image">
            <div class="text-block element">
              <p>{{group.name}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>