.container {
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.img-block {
  margin-top: 30px;
  height:200px
}

.element {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.search-box {
  background-color: #00abdf;
}
.form-title {
  color: #FFFFFF;
  text-align: center;
}