<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container-fluid">

  <a class="navbar-brand" href="/">
    {{siteName}}
  </a>
  <div class="navbar-expand mr-auto">

  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Groups</a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account <i class="fas fa-user-circle"></i></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/settings']">Settings</a>
            </div>
          </li>
        </div>
    </div>
  </div>
  </div>
</nav>
